<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctores</title>
    <link type="text/css" rel="stylesheet" href="{% static 'Inicio/css/cssRegistro/formulario.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5812197663.js" crossorigin="anonymous"></script>
</head>

<body class="shaden">
    <div class="wrapper">
        <header class="fondosi">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'inicio' %}">Dos Alamos</a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                            </li>

                            {% if request.session.correo %}
                            <li class="nav-item">
                                <a class="nav-link active">Bienvenido {{request.session.nombre}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'salir' %}">Cerrar Sesion</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'iniciosesion' %}">Inicio Sesión</a>
                            </li>
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link active"
                                    href="https://api.whatsapp.com/send?phone=+56921908673&text=Hola%21%20Quisiera%20más%20información%20sobre%20los%20productos!">Contactanos
                                    💬</a>
                            </li>

                            {% if request.session.correo %}
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                    href="{% url 'registroUsuario' %}">Registro</a>
                            </li>
                            {% endif %}

                            {% if request.session.correo %}
                            <li class="nav-item">
                                {% if request.session.alfin == 'cliente' %}
                                <a class="nav-link active" href="{% url 'misHoras' %}">Mis Horas</a>
                                {% else %}
                                {% endif %}
                            </li>
                            {% else %}
                            {% endif %}

                            {% if request.session.correo %}
                            <li class="nav-item">
                                {% if request.session.alfin == 'secretaria' %}
                                <a class="nav-link active" href="{% url 'crear_agenda' %}">Generar Agenda</a>
                                {% else %}
                                {% endif %}
                            </li>
                            {% else %}
                            {% endif %}


                            {% if request.session.correo %}
                            <li class="nav-item">
                                {% if request.session.alfin == 'medico' %}
                                <a class="nav-link active" href="{% url 'monitoPaciente' %}">Monitor de Pacientes</a>
                                {% else %}
                                {% endif %}
                            </li>
                            {% else %}
                            {% endif %}

                            {% if request.session.correo %}
                            <li class="nav-item">
                            {% if request.session.alfin == 'secretaria' %}
                            <a class="nav-link active" href="{% url 'pagos' %}">Ingresar pagos</a>
                            {% else %}
                            {% endif %}
                            </li>
                            {% else %}
                            {% endif %}

                            {% if request.session.correo %}
                            <li class="nav-item">
                            {% if request.session.alfin == 'secretaria' %}
                            <a class="nav-link active" href="{% url 'editarHoras' %}">Modificar Horas</a>
                            {% else %}
                            {% endif %}
                            </li>
                            {% else %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>




        <main class="form-signin hola" id="capa">

            <form method="POST" action="{% url 'tomar_hora' idAgenda idMedico idEspe %}" class="row g-3" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="xd">
                    <h3 class="h3 mb-3 fw-bold">Agenda Tu Hora</h3>
                </div>

                <div class="floating la col-md-12">
                    <label>Nombre</label>
                    <input type="" placeholder="Ingrese el nombre del paciente" required class="form-control" name="nombre" id="">
                </div>

                <div class="floating la col-md-12">
                    <label>rut</label>
                    <input type="" placeholder="Ingrese el rut del paciente" required class="form-control" name="rut" id="">
                </div>

                <div class="floating la col-md-12">
                    <label>previsión</label>
                    <select class="form-control" required name="prevision" id="prevision">
                        <option value="">Selecione la previsión del paciente</option>
                        {% for p in previsiones %}
                        <option value="{{ p.idPrevision }}">{{ p.nombrePrevi }}</option>
                        {% endfor %}
                    </select>
                    
                </div>

                <div class="floating la col-md-12">
                    <label>Correo</label>
                    <input type="email" placeholder="email@email.cl" required class="form-control" name="email" id="email">
                </div>

                <button id="btn" class="fw-bold" type="submit">Registrar Hora</button>

                {% if messages %} <div> {% for i in messages %} <p> {{ i }} </p> {% endfor %} </div> {% endif %}

            </form>

            <div class="container">
                <a class="float" href="{{ request.META.HTTP_REFERER }}">
                <i class="fa-solid fa-arrow-left fa-shake"></i></a>
            </div>

        </main>


        <footer class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr class="featurette-divider">
                    <p class="float-end"><a href="#">Principio</a></p>
                    <p>&copy; 2022 Clinica Galenos, Inc. &middot; <a href="#">Facebook</a> &middot; <a
                            href="#">Twitter</a>
                        &middot;
                        <a href="#">Instagram</a>
                    </p>
                </div>

            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>