body {
  height: 100%;
  background-image: url(../../../Inicio/img/InicioSesion/diego.jpg);
  background-size: cover;
  background-attachment: fixed;

}

.aaa {
  color: rgba(33, 88, 114, 0.603)
}

#capa {

  width: 100%;
  height: 100%;
  color: #f5f5f5;
  border-radius: 5%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.nose {
  text-align: center;
  color: #ffffff;
}

.form-floating {
  color: #252525;
}

.fondosi a {
  color: black;
}


.xd {
  text-align: center;
  color: #ffffff;
}

.xd img {
  width: 200px;
  height: 185px;
}

.xd label {
  margin-bottom: 5%;
}

.color {
  color: #fff;
}

.color p {
  color: #312f2f;
  text-align: center;
}

.nav-item {
  color: #535252;
}

.pp {
  text-align: center;
  margin-top: 5%;


}

.pp a {
  color: #222222;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:rgb(0, 0, 0);
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.hola{
  background-color:rgba(3, 13, 18, 0.603);
}