/** HEADER */
.fondosi {
    background-color: #170444;
}

.fondosi nav {
    background-color: #587993;
}

.color {
    color: cadetblue;
}

/*! FIN HEADER */

/** BODY */
.separacion5 {
    height: 5em;
}


/*! FIN BODY */