/** HEADER */
.fondosi {
	background-color: #587993;
}

.fondosi a {
	color: black;
}

.fondosi nav {
	background-color: #587993;
}

.color {
	color: cadetblue;
}

.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, .55);
	border-color: rgba(255, 255, 255, .1);
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/*! FIN HEADER */


/* INICIO BODY */
#visualizador {
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}

.columna {
	flex: 1;
	padding: 10px;
	text-align: center;
	border-right: 1px solid #ccc;
}

.columna:last-child {
	border-right: none;
}

.container {
	margin-top: 6em;
}

/* FIN BODY */

/* api */

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
	background-color: #fff;
}

.my-float {
	margin-top: 16px;
}

/** BODY */
.separacion5 {
	height: 5em;
}

.boton {
	margin-top: 0.5em;
	box-shadow: 2px 2px 3px #2c2c2c;
	text-align: center;
	background-color: #84b6f485 !important;
}


.card1{
	box-shadow: 2px 2px 3px #2c2c2c65;
	padding: 1em;
	border-radius: 0.5em;
	display: inline-table;
	height: 100%; 
	width: 100%;
	background-color: #84b6f471;
}

.card{
	border-radius: 0.5em;
}

.bordej{
	border-radius: 0.5em;
	box-shadow: 2px 2px 3px #2c2c2c;
}

.card-body{
	background-color: #84b6f471;
}

